In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv(r"E:\programming\MovieRecommend\Data\top10K-TMDB-movies.csv", engine='python', on_bad_lines='warn')

In [3]:
data

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [4]:
data.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [5]:


data.dtypes

id                     int64
title                 object
genre                 object
original_language     object
overview              object
popularity           float64
release_date          object
vote_average         float64
vote_count             int64
dtype: object

In [6]:
data1=data.describe(include='all')

In [7]:
data

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [8]:

data['overview'].fillna('No overview available.', inplace=True)


print(data['overview'].isnull().sum())

0

In [9]:

for column in data.columns:
    print(f"\n--- Unique values in '{column}' ---")
    print(data[column].unique())

--- Unique values in 'id' ---
[   278  19404    238 ...  13995   2312 455957]

--- Unique values in 'title' ---
['The Shawshank Redemption' 'Dilwale Dulhania Le Jayenge' 'The Godfather'
 ... 'Sharknado 3: Oh Hell No!' 'Captain America'
 'In the Name of the King: A Dungeon Siege Tale']

--- Unique values in 'genre' ---
['Drama,Crime' 'Comedy,Drama,Romance' 'Drama,History,War' ...
 'Action,TV Movie,Science Fiction,Comedy,Adventure'
 'Action,Science Fiction,War' 'Adventure,Fantasy,Action,Drama']

--- Unique values in 'original_language' ---
['en' 'hi' 'es' 'ja' 'ko' 'it' 'pt' 'ru' 'zh' 'fr' 'tr' 'sv' 'ar' 'de'
 'bn' 'cn' 'da' 'nl' 'th' 'fa' 'hu' 'pl' 'sh' 'sr' 'et' 'id' 'no' 'cs'
 'te' 'ro' 'bs' 'el' 'fi' 'is' 'ml' 'la' 'af' 'uk' 'eu' 'nb' 'he' 'ab'
 'xx']

--- Unique values in 'overview' ---
['Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.'
 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.'
 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.'
 ...
 'During World War II, a brave, patriotic American Soldier undergoes experiments to become a new supersoldier, "Captain America". Racing to Germany to sabotage the rockets of Nazi baddie "Red Skull", Captain America winds up frozen until the 1990s. He reawakens to find that the Red Skull has changed identities and is now planning to kidnap the President of the United States.'
 'A man named Farmer sets out to rescue his kidnapped wife and avenge the death of his son -- two acts committed by the Krugs, a race of animal-warriors who are controlled by the evil Gallian.'
 'Seeking justice for his partner’s murder by an ISIS member, a Copenhagen police officer finds himself caught in a cat and mouse game with a duplicitous CIA agent who is using the killer as a pawn to trap other ISIS members.']

--- Unique values in 'popularity' ---
[94.075 25.408 90.585 ... 18.333 15.159 16.482]

--- Unique values in 'release_date' ---
['1994-09-23' '1995-10-19' '1972-03-14' ... '2016-07-06' '2010-06-30'
 '2007-11-29']

--- Unique values in 'vote_average' ---
[8.7 8.6 8.5 8.4 8.3 8.2 8.1 8.  7.9 7.8 7.7 7.6 7.5 7.4 7.3 7.2 7.1 7.
 6.9 6.8 6.7 6.6 6.5 6.4 6.3 6.2 6.1 6.  5.9 5.8 5.7 5.6 5.5 5.4 5.3 5.2
 5.1 5.  4.9 4.8 4.7 4.6]

--- Unique values in 'vote_count' ---
[21862  3731 16280 ...  3184  2245  1844]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           10000 non-null  object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [11]:
data=data.drop(["release_date"],axis=1)

In [12]:
data

,id,title,genre,original_language,overview,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,8.6,9811
...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,4.6,221

In [13]:
#feature selection

In [14]:
data['tags']=data['overview']+data['genre']

In [15]:
data1=data.drop(columns=['overview','genre'])

In [16]:
data1

,id,title,original_language,popularity,vote_average,vote_count,tags
0,278,The Shawshank Redemption,en,94.075,8.7,21862,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,hi,25.408,8.7,3731,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,en,90.585,8.7,16280,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,en,44.761,8.6,12959,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,en,57.749,8.6,9811,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,en,98.322,4.7,3347,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,en,12.490,4.7,417,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,en,18.333,4.6,332,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,en,15.159,4.7,668,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,en,16.482,4.6,221,Seeking justice for his partner’s murder by an...

In [17]:
cv=CountVectorizer(max_features=10000,stop_words='english')

In [18]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [19]:
vector=cv.fit_transform(data1['tags'].values.astype('U')).toarray()

In [20]:
vector.shape

(10000, 10000)

In [21]:
similarlity=cosine_similarity(vector)
similarlity

array([[1.        , 0.05634362, 0.13041013, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07715167, ..., 0.        , 0.03636965,
        0.        ],
       [0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
        0.08748178],
       ...,
       [0.07559289, 0.        , 0.02300219, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.0673435 , ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08748178, ..., 0.02817181, 0.0412393 ,
        1.        ]])

In [22]:
data1[data1['title']=="The Godfather"]

,id,title,original_language,popularity,vote_average,vote_count,tags
2,238,The Godfather,en,90.585,8.7,16280,"Spanning the years 1945 to 1955, a chronicle o..."

In [23]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   original_language  10000 non-null  object
 3   popularity         10000 non-null  float64
 4   vote_average       10000 non-null  float64
 5   vote_count         10000 non-null  int64
 6   tags               9997 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 547.0+ KB

In [24]:
similarlity[2]

array([0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
       0.08748178])

In [25]:
distance = sorted(list(enumerate(similarlity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(data1.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [26]:
def recommand(movies):
    index=data1[data1['title']==movies].index[0]
    distance = sorted(list(enumerate(similarlity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(data1.iloc[i[0]].title)

In [27]:
recommand("Iron Man")

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith

In [28]:
import pickle

In [29]:
pickle.dump(data1, open(r"E:\programming\MovieRecommend\project\movies_list.pkl", 'wb'))

In [ ]:
pickle.dump(similarlity, open(r'E:\programming\MovieRecommend\project\similarlity.pkl', 'wb'))

In [ ]:
pickle.load(open(r"E:\programming\MovieRecommend\project\movies_list.pkl", 'rb'))